@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200..1000&display=swap');

:root{
    --accent: #EA5959;
    --default: rgba(0,0,0,0.3);
}

* {
margin: 0;
box-sizing: border-box;
}

body {
    font-family: "Nunito", sans-serif;
    background-color: var(--accent);
    height: 100vh;
    display: flex;
    justify-content: center;
    padding: 32px;
    font-size: 18px;
    font-weight: 300;
}

.todo {
    padding: 32px;
    background-color: #fff;
    width: 90vw;
    border-radius: 16px;
}



/* .btn__checkbox input {
    display: none;
}

.btn__checkbox input:checked + div {
    background-color: var(--accent);
}

.btn__checkbox input:checked + div::after {
    display: block;
}

.btn__checkbox div {
    --size: 28px;
    cursor: pointer;
    height: var(--size);
    width: var(--size);
    border: 1px solid var(--accent);
    border-radius: 4px;
    color: white;
}
.btn__checkbox div::after{
    content: '✔';
    text-align: center;
    display: none;
}

.todo_btn.btn {
    display: block;
}

.todo_btn > * {
    padding: .75rem 2rem;
    margin: 10px;
    border-radius: 10rem;
    color: #EA5959;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: .15rem;
    position: relative;
    overflow: hidden;
    z-index: 1;
} */

/*
*/
.todo__content { 
}
.todo__title {
}
.todo__new {
    --size: 50px;
    display: flex;
    margin: 16px 0;
}
.todo__mark-all {
    cursor: pointer;
    text-align: center;
    width: var(--size);
    height: var(--size);
    border-radius: var(--size);
    line-height:calc(var(--size) * 0.95);
    font-size: 18px;
    font-weight: 200;
    background-color: var(--accent);
    color: white;
    margin: 16px 0 16px;
}
.todo__clear-completed {
    cursor: pointer;
    text-align: center;
    width: var(--size);
    height: var(--size);
    border-radius: var(--size);
    line-height:calc(var(--size) * 0.95);
    font-size: 18px;
    font-weight: 200;
    background-color: var(--accent);
    color: white;
    margin-left: 16px;
}
/*
*/
.todo__new input {
    margin-right: 16px;
    font-size: 18px;
    padding: 8px 16px;
    height: var(--size);
    border: 1px solid var(--default);
    border-radius: 5px;
    flex-grow: 1;
}
.todo__add,
 .todo__task-del {
    cursor: pointer;
    text-align: center;
    width: var(--size);
    height: var(--size);
    border-radius: var(--size);
    line-height:calc(var(--size) * 0.95);
    font-size: 32px;
    font-weight: 200;
    background-color: var(--accent);
    color: white;
}
.todo__list {
    margin-top: 16px;
}
.todo__list > *:not(:last-child) {
    margin-bottom: 8px;
}
.todo__task {
    cursor: default;
    --size: 36px;
    display: flex;
    min-height: var(--size);
    align-items: center;  
}
.todo__task:hover .todo__task-del{
   display: block; 
}
.todo__task_complete .todo__task-text {
    text-decoration: line-through;
    color: var(--default) ;
}
.todo__checkbox {
    margin-right: 16px;
}
.todo__checkbox input {
    display: none;
}
.todo__checkbox input:checked + div {
    background-color: var(--accent);
}
.todo__checkbox input:checked + div::after {
    display: block;
}
.todo__checkbox div {
    --size: 28px;
    cursor: pointer;
    height:var(--size);
    width: var(--size);
    border: 1px solid var(--accent);
    border-radius: 4px;
    position: relative;
    color: white;
}
.todo__checkbox div::after{
    content: '✔';
    text-align: center;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.todo__task-text {
    font-size: 20px;
}
.todo__task-del {
    --size: 36px;
    display: none;
    margin-left: auto;
    margin-right: 0;
    line-height:calc(var(--size) * 0.85);
    font-size: 44px;
}
.todo__pagination {
    display: flex;
    padding: 0px 40%;
}

.todo__filters {
    display: flex;
    justify-content: space-between;
    margin: 16px 0;
  }
  .todo__filter {
    cursor: pointer;
    text-align: center;
    width: var(--size);
    height: var(--size);
    border-radius: var(--size);
    line-height: calc(var(--size) * 0.95);
    font-size: 18px;
    font-weight: 200;
    background-color: var(--accent);
    color: white;
    margin-right: 16px;
  }
.todo__pagination > * {
    margin: auto;
    padding: 0.25rem 0.7rem;
    border-radius: 1rem;
    color:#EA5959;
}
.hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }
  .todo__task-text-input {
    font-size: 20px;
    padding: 8px 16px;
    height: var(--size);
    border: 1px solid var(--default);
    border-radius: 5px;
    flex-grow: 1;
    margin-right: 16px;
  }